Source: gnumach
Section: base
Priority: optional
Maintainer: GNU Hurd Maintainers <debian-hurd@lists.debian.org>
Uploaders: Marcus Brinkmann <brinkmd@debian.org>,
 Jeff Bailey <jbailey@raspberryginger.com>, Neal H. Walfield <neal@debian.org>,
 Guillem Jover <guillem@debian.org>
Homepage: http://www.gnu.org/software/hurd/gnumach.html
Vcs-Browser: http://svn.debian.org/wsvn/pkg-hurd/gnumach/
Vcs-Svn: svn://svn.debian.org/pkg-hurd/gnumach/trunk/
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5), quilt (>= 0.40), mig, sharutils

Package: gnumach
Section: base
Priority: optional
Architecture: hurd-i386 i386 kfreebsd-i386 knetbsd-i386
Description: The GNU version of the Mach microkernel
 This is the Utah Mach microkernel used by the Hurd.

Package: gnumach-udeb
XC-Package-Type: udeb
Section: debian-installer
Priority: optional
Architecture: hurd-i386 i386 kfreebsd-i386 knetbsd-i386
Description: The GNU version of the Mach microkernel
 This is the Utah Mach microkernel used by the Hurd.

Package: gnumach-dbg
Section: devel
Priority: extra
Provides: gnumach
Architecture: hurd-i386 i386 kfreebsd-i386 knetbsd-i386
Depends: gnumach (= ${binary:Version})
Description: The GNU version of the Mach microkernel for debugging
 This is the Utah Mach microkernel used by the Hurd.
 .
 The version in this package is identical to the version found in the
 gnumach package, except that it is not stripped and has the
 kernel-level debugger compiled in.

Package: gnumach-dev
Section: devel
Priority: optional
Architecture: hurd-i386 i386 kfreebsd-i386 knetbsd-i386
Description: The GNU version of the Mach microkernel
 These are the header files for the Utah Mach microkernel used by the Hurd.

