#!/usr/bin/make -f
#
# Based on the work by Marcus Brinkmann <brinkmd@debian.org>
# Rewritten by Guillem Jover <guillem@debian.org>
#

pkg := gnumach
pkg_udeb := gnumach-udeb
pkg_dbg := gnumach-dbg
pkg_dev := gnumach-dev

DEB_BUILD_GNU_TYPE := $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_GNU_TYPE := $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)

CFLAGS = -Wall -g -pipe

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

include debian/rules.options

include debian/patch.mk

configure: patch stamp-configure
stamp-configure:
	dh_testdir
	
	-mkdir build
	cd build && ../configure $(drivers) \
		CFLAGS="$(CFLAGS)" \
		--build=$(DEB_BUILD_GNU_TYPE) --host=$(DEB_HOST_GNU_TYPE)
	
	touch stamp-configure

configure-dbg: patch stamp-configure-dbg
stamp-configure-dbg:
	dh_testdir
	
	-mkdir build-dbg
	cd build-dbg && ../configure --enable-kdb $(drivers) \
		CFLAGS="$(CFLAGS)" \
		--build=$(DEB_BUILD_GNU_TYPE) --host=$(DEB_HOST_GNU_TYPE)
	
	touch stamp-configure-dbg

build:

build-gnumach: configure
	dh_testdir
	
	$(MAKE) -C build
	$(MAKE) -C build/doc

build-gnumach-dbg: configure-dbg
	dh_testdir
	
	$(MAKE) -C build-dbg

clean::
	dh_testdir
	
	-rm -f machine stamp-configure
	-rm -rf build build-dbg
	-rm -f core `find . \( -name '*.orig' -o -name '*.rej' -o -name '*~' \
	  -o -name '*.bak' -o -name '#*#' -o -name '.*.orig' \
	  -o -name '.*.rej' -o -name '.SUMS' -o -size 0 \) -print`
	
	dh_clean

install-gnumach: build-gnumach
	dh_testdir
	dh_testroot
	dh_clean -N$(pkg_dbg) -k
	dh_installdirs -N$(pkg_dbg)
	
	$(MAKE) -C build install-kernel \
		exec_prefix=$(CURDIR)/debian/$(pkg)
	
	$(MAKE) -C build install-kernel \
		exec_prefix=$(CURDIR)/debian/$(pkg_udeb)
	
	$(MAKE) -C build install-headers \
		prefix=$(CURDIR)/debian/$(pkg_dev)/usr \
		exec_prefix=$(CURDIR)/debian/$(pkg_dev) \
		includedir=\$${prefix}/include

install-gnumach-dbg: build-gnumach-dbg
	dh_testdir
	dh_testroot
	dh_clean -p$(pkg_dbg) -k
	dh_installdirs -p$(pkg_dbg)
	
	$(MAKE) -C build-dbg install-kernel \
		prefix=$(CURDIR)/debian/$(pkg_dbg)/usr \
		exec_prefix=$(CURDIR)/debian/$(pkg_dbg)
	mv debian/$(pkg_dbg)/boot/gnumach debian/$(pkg_dbg)/boot/gnumach-dbg

binary: binary-indep binary-arch

binary-indep:

binary-arch: install-gnumach install-gnumach-dbg
	dh_testdir
	dh_testroot
	dh_installdocs -a
	dh_installchangelogs -a -k ChangeLog
	dh_installinfo -a
	dh_link -a
	dh_strip -a -N$(pkg_dbg)
	dh_compress -p$(pkg) -p$(pkg_udeb) -A boot/gnumach
	dh_compress -p$(pkg_dbg) boot/gnumach-dbg
	dh_compress -p$(pkg_dev)
	dh_fixperms -a
	dh_installdeb -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

.PHONY: build build-gnumach build-gnumach-dbg clean configure configure-dbg
.PHONY: install-gnumach install-gnumach-dbg binary binary-indep binary-arch

